.infographic {
  display: block;
  height: 600px;
  width: 800px;
  background: transparent url('/site_media/img/infographic/background_travel001.png') 0px 0px no-repeat;
  position: relative;
}

.progressbar_set {
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 800px;
  display: none;
}

.progressbar_set_initial,
.progressbar_set_done {
  margin: 0;
  padding: 5px;
  border: 2px solid #fff;
  height: auto;
  width: 300px;
  display: none;
  background-color: #000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 250px;
  bottom: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.progress_title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  float: left;
  width: 140px;
  text-align: center;
}

.progressbar {
  float: left;
  padding-top: 2px;
  width: 660px;
}

.progress {
  border: 1px solid #ccc;
}

.chartnav {
  display: block;
  height: 200px;
  width: 400px;
  border: 1px solid #ccc;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 200;
}

#imagemap_shim {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 400px;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 300;
  display: block;
}

.content_modal {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #fff;
  display: none;
  z-index: 900;
  width: 760px;
  border: 1px solid #666;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.content_modal_header {
  padding: 10px 5px 10px 15px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.content_modal_body {
  padding: 10px 15px;
  margin: 0;
  min-height: 70px;
}

.content_modal_footer {
  padding: 10px 10px 10px 15px;
}

.content_overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 800px;
  background-color: #666666;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  z-index: 800;
  display: none;
}

.closeoverlay {
  cursor: pointer;
}

.icon-close {
  margin: 2px 0 0 0;
  padding: 0;
  border: 0;
  float: right;
  cursor: pointer;
  width: 27px;
  height: 27px;
  background: transparent url('/site_media/img/infographic/icon-close.png') 0px 0px no-repeat;
}

.icon-close:hover {
  background: transparent url('/site_media/img/infographic/icon-close-hover.png') 0px 0px no-repeat;
}

#item_position_redcircle {
  position: absolute;
  left: 10px;
  top: 50px;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

#item_position_bluecircle {
  position: absolute;
  left: 100px;
  top: 70px;
  z-index: 20;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}


#item_position_greencircle {
  position: absolute;
  left: 200px;
  top: 30px;
  z-index: 30;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.item_image_redcircle {background: url('/site_media/img/infographic/circ1.png') no-repeat 0px 0px;}
.item_image_redcircle-visited {background: url('/site_media/img/infographic/circ1.png') no-repeat -140px 0px; cursor: pointer;}
.item_image_redcircle-hover {background: url('/site_media/img/infographic/circ1.png') no-repeat -70px 0px; cursor: pointer;}

.item_image_bluecircle {background: url('/site_media/img/infographic/circ2.png') no-repeat 0px 0px;}
.item_image_bluecircle-visited {background: url('/site_media/img/infographic/circ2.png') no-repeat -140px 0px;}
.item_image_bluecircle-hover {background: url('/site_media/img/infographic/circ2.png') no-repeat -70px 0px;}


.item_image_greencircle {background: url('/site_media/img/infographic/circ3.png') no-repeat 0px 0px;}
.item_image_greencircle-visited {background: url('/site_media/img/infographic/circ3.png') no-repeat -140px 0px;}
.item_image_greencircle-hover {background: url('/site_media/img/infographic/circ3.png') no-repeat -70px 0px;}


/* DRESSER ACTIVITY */

.dresser .infographic {
  height: 556px;
  background: transparent url('/site_media/img/infographic/dresser_bg.jpg') 0px 0px no-repeat;
}

.dresser .content_overlay {
  height: 556px;
}

