.infographic {
  display: block;
  height: 600px;
  width: 800px;
  background: transparent url('/site_media/img/infographic/background_travel001.png') 0px 0px no-repeat;
  position: relative;
}

.progressbar_set {
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 800px;
}

.progress_title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  float: left;
  width: 140px;
  text-align: center;
}

.progressbar {
  float: left;
  padding-top: 2px;
  width: 660px;
}

.chartnav {
  display: block;
  height: 200px;
  width: 400px;
  border: 1px solid #ccc;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 200;
}

#imagemap_shim {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 400px;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 300;
  display: block;
}

.content_modal {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px solid #f00;
  background-color: #fff;
  height: 150px;
  width: 300px;
  display: none;
  z-index: 900;
}

.content_overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 800px;
  background-color: #666666;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  z-index: 800;
  display: none;
}

.closeoverlay {
  cursor: pointer;
  width: 50px;
  border: 1px solid #000;
}

#item_position_redcircle {
  position: absolute;
  left: 10px;
  top: 50px;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

#item_position_bluecircle {
  position: absolute;
  left: 100px;
  top: 70px;
  z-index: 20;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

#text_redcircle {
  position: absolute;
  left: 10px;
  top: 10px;
  background: #f00;
  height: 150px;
  width: 350px;
  background-color: red;
  z-index: 800;
}

.item_image_redcircle {background: url('/site_media/img/infographic/circ1.png') no-repeat 0px 0px;}
.item_image_redcircle-visited {background: url('/site_media/img/infographic/circ1.png') no-repeat -140px 0px; cursor: pointer;}
.item_image_redcircle-hover {background: url('/site_media/img/infographic/circ1.png') no-repeat -70px 0px; cursor: pointer;}

.item_image_bluecircle {background: url('/site_media/img/infographic/circ2.png') no-repeat 0px 0px;}
.item_image_bluecircle-visited {background: url('/site_media/img/infographic/circ2.png') no-repeat -140px 0px;}
.item_image_bluecircle-hover {background: url('/site_media/img/infographic/circ2.png') no-repeat -70px 0px;}
