/* ################ THIS CSS IS FOR PASS ################ */

/* ***** Principal Elements ***** */

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.printonly
{
	display: none;
}


legend 
{
	font-weight: bold; 
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px 10px 5px 10px;
}

 
body
{
	min-width: 912px;
	margin: auto;
	padding: 0;
	border: 0;
	background-color: #e1f0ef !important;
    font: normal 14px/140% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333 !important;
	font-size: 14px !important;
	line-height: 140% !important;
}

body.no_bootstrap
{
	font: normal 12px "lucida grande", arial, helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: bold;
	color: #000;
}

h1
{
	margin: 0;
	font-size: 140%;
	font-weight: normal;
}

h2
{
	margin: 0 !important;
	padding: 0 0 24px 0 !important;
	font-size: 24px !important;
	line-height: 26px !important;
	font-weight: normal !important;
}

h3
{
	margin: 0 !important;
	padding: 18px 0 10px 0 !important;
	font-size: 18px !important;
	font-weight: bold !important;
}

h4
{
	margin: 0 !important;
	padding: 16px 0 10px 0 !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

h5
{
	font-size: 14px !important;
}

h6
{
	padding: 12px 0 0 0 !important;
	font-size: 14px !important;
	font-style: italic;
}

p
{
	display: block !important;
	margin: 0 0 14px 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

blockquote
{
	display: block;
	margin: 0 0 14px 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 1em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

table.noborders,
table.noborders td

{
    border: none;
    padding: 10px;
    vertical-align: top;
}

table tbody
{
	border: 0;
}

th
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

td
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 18px;
}

.cascadeloweralpha ol li,
.loweralpha
{
	list-style-type:lower-alpha;
}

.cascadeupperalpha ol li,
.upperalpha
{
	list-style-type:upper-alpha;
}

.cascadecircle ul li,
.circle
{
	list-style-type:circle;
}

cascadesquare li,
.square
{
	list-style-type:square;
}

/*li
{
	margin: 0 0 0.5em 0;
}*/

a
{
	color: #339999;
	text-decoration: none;
}

a:hover
{
	color: #35a0a4;
	text-decoration: none;
}

a:active
{
	color: #35a0a4;
	text-decoration: none;
}

a:visited
{
	color: #f46b08;
	text-decoration: none;
}

/*#content a
{
	color: #339999;
	text-decoration: none;
}

#content a:hover
{
	color: #35a0a4;
	text-decoration: none;
}

#content a:active
{
	color: #35a0a4;
	text-decoration: none;
}

#content a:visited
{
	color: #f46b08;
	text-decoration: none;
}
*/

/* ***** Principal Blocks ***** */

#container
{
	min-width: 912px;
	width: 912px;
	margin: auto;
	padding: 0;
	border: 0;
	background-color: #fff;
}

/* --- Header elements --- */

#header
{
	min-width: 912px;
	width: 912px;
	height: 76px;
	overflow: hidden;
	margin:0;
	padding: 5px 0 0 0;
	border: 0;
	position: relative;
}

#header h1, #header h1 a
{
	display: block;
	float: left;
	width: 560px;
	height: 57px;
	overflow: hidden;
	margin: 40px 0 0 20px;
	padding: 0;
	border: 0;
}

#header h4 a
{
	display: block;
	position: absolute;
	top: 45px;
	right: 30px;
	width: 120px;
	height: 43px;
	margin: 0;
	padding: 0;
	border: 0;
}


#header h1 a, #header h4 a
{
	float: none;
	margin: 0;
}

#header h1 span, #header h4 span
{
	display: none;
}

#banner
{
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 188px;
    background: #fff url("/site_media/img/banner_pass.png") 0 0 no-repeat;
}

/* --- Standard navigation --- */

#standard_navigation
{
	display: block;
	margin: 0px
	padding: 0px;
	font-size: 12px;
	position: absolute;
	top: 2px;
	right: 20px;
}

#standard_navigation li
{
	float: left;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
	list-style: none;
	color: #fff;
}

#standard_navigation a
{
	color: #fff;
}

#standard_navigation a:hover
{
	color: #fc6;
}

/* --- Primary navigation --- */

#primarynav
{
	min-width: 912px;
	width: 912px;
	margin: 0;
	padding: 0;
	border: 0;
    height: 35px;

    background: rgb(63,176,180); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(63,176,180,1) 0%, rgba(254,240,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63,176,180,1)), color-stop(100%,rgba(254,240,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fb0b4', endColorstr='#fef0e8',GradientType=1 ); /* IE6-9 */

}

#primarynav ul.globalnav
{
	display: block;
	float: left;
    margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	/* width: 100% */
}

#primarynav .icon-chevron-down {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/site_media/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: -313px -119px;
}

#primarynav ul.globalnav li
{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 35px;
}

#primarynav ul.globalnav li a
{
	display: block;
	padding: 0 10px 0 8px;
	font-weight: bold;
	color: #fff;
	background-color: #696;
}

#primarynav ul.globalnav li a:hover,
#primarynav ul.globalnav li.active a:hover
{
	background-color: #88cc88;
	text-decoration: none;
}

#primarynav ul.globalnav li.active a
{
	color: #333;
	background-color: #99cc99;
}

#header #usernav
{
	display: block;
	padding: 0;
	border: 0;
	list-style: none;
    color: #666;
    float: right;
    font-size: 85%;
    margin: 0;
}

#usernav .userstatus {
    height: 24px;
    text-align: right;
    padding-right: 10px;
}

#header #usernav a
{
    color: #fff;
}


#header ul.usernav li
{
	float: left;
	margin: 0;
	padding: 0 16px 0 10px;
	border: 0;
	font: normal 14px/31px "lucida grande", arial, helvetica, sans-serif;
	list-style: 0;
}

#header ul.usernav li a
{
	display: block;
	float: right;
}

/* --- Pagebody, contains secodary nav and content --- */

#pagebody
{
	min-width: 912px;
	min-height: 600px;
	position: relative;
	width: 912px;
	padding: 0;

}

.visualclear {clear: both;}

/* --- Secondary navigation --- */

#secondary_navigation
{
    position: absolute;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0 0 20px 0;
	border: 0;
    z-index: 1005;
}

#secondary_navigation .block h3
{
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	border-bottom: 1px dotted #6c0;
	font-weight: bold;
}

#secondary_navigation div.selected {
    width: 100%;
    background-color: white;
    margin-left: -4px;
    padding: 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    background-color: #8C8;
    margin-bottom: 2px;
}

#secondary_navigation div.regular a {
    font-weight: normal;
    color: white;
}

#secondary_navigation div.disabled {
    font-weight: normal;
    color: #d7d7d7;
}

#secondary_navigation .block ul
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;	
	background-color: #99cccc;/*7CAFB2*/
	padding: 15px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#secondary_navigation .block ul li
{
	margin: 0;
	padding: 0px !important;
	border: 0;
	font-weight: normal;
	color: #fff;
	font-size: 13px;
	padding: 2px 0 !important;
	border-bottom: 1px dotted #339999;
}

#secondary_navigation .block ul li div
{
	padding: 3px 5px !important;
}

#secondary_navigation .block ul li div.regular a
{
    color: #339933;
    font-size: 100%;
	text-decoration: none;
}

#secondary_navigation .block ul li div.regular a:hover
{
    color: #cc9900;
	text-decoration: none;
}

#secondary_navigation .block ul li div.regular a:visited {
    color: #006666;
    font-weight: bold;
	text-decoration: none;
}

#secondary_navigation .block ul li div.disabled {
    color: #666;
	text-decoration: none;
}

#secondary_navigation .block ul li div.selected {
    color: #fff;
    font-weight: bold;
    background-color: #339999;
	text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#secondary_navigation .block ul li div.selected:after {
    content: " »";
}

#secondary_navigation .block ul li ul
{
	display: block;
	margin: 5px 0 5px 10px;
	padding: 0;
	border: 0;
	list-style: none;
	
}
#secondary_navigation .block ul li ul li
{
	margin: 3px 0 0 0;
	border: none;

}

#secondary_navigation .block ul li ul li ul
{
	display: block;
	margin: 10px 0 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
}

/* ***** Content ***** */

#content
{
    display: block;
    float: none;
    width: 860px;
    margin: 20px 25px;
    padding: 0;
    border: 0;
}


.content_two_column
{
    display: block;
    float: left;
    width: 670px;
    margin: 15px 15px 0 20px;
    padding: 0;
    border: 0;
}

#content .content-nav
{
	margin: 2em 0 0 0;
	padding: 5px 0;
	border: 0;
	border-top: 1px dotted #6c0;
	border-bottom: 1px dotted #6c0;
	font-size: 12px;
}

#content .content-nav a#previous
{
	display: block;
	float: left;
	width: auto;
}

#content .content-nav a#next, a#next, #next
{
	display: block;
	float: right;
	width: auto;
	text-align: right;
}

#content .content-nav div#next
{
	display: block;
	float: right;
	width: auto;
	text-align: right;
}

#content .content-nav a.pager_button.disabled,
#content .content-nav div.pager_button.disabled {
    color: #999;
    cursor: not-allowed;
    background: url('/site_media/img/lock.png') 0px 5px no-repeat;
    padding-left: 20px;
}

#content .content-nav a.pager_button.disabled:hover,
#content .content-nav div.pager_button.disabled:hover {
    background-color: white;
    color: #999 !important;
    text-decoration: none;
}

#content .content-nav a.pager_button,
#content .content-nav div.pager_button
{
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

#content .content-nav div.pager_button {
    color: #999 !important;
}


#content .content-nav a.pager_button:hover {
  text-decoration: none;
  background-color: #d0e1db;
  color: #006666  !important;
}


#content .content-nav div.pager_button:hover {
  text-decoration: none;
  background-color: #efefef;
}

.pageblock, .block {

    margin: 0 0 1em 0;
    display: block;

}

/* Case quizzes */

.cases {
  min-height: 20px;
  padding: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.casetitle
{
	background-color: #e6f2d8;
	margin: 0;
	padding: 5px 10px;
	border: 0;
	font-weight: bold;
  -webkit-border-top-left-radius: 4px;
     -moz-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
     -moz-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
}

.casecontent
{
	margin: 10px;
	padding: 0;
	border: 0;
}

.casequestion
{
	margin: 0;
	padding: 0;
	border: 0;
}


.cases li
{
	margin: 3px 0;
}

.cases textarea {
    width: 90% !important;
}

.casesanswerdisplay
{
	margin: 0;
	padding: 5px;
	border: 1px solid #999;
	line-height: 18px;
}

.moretoggle
{
	font-weight: bold;
}

.pullquote
{
	display: block;
	margin: 10px 0;
	padding: 38px 45px 10px;
	background-color: #fff;
}

.pullquote .source, .source
{
    font-size: 90%;
    font-style: italic;
}

.large-pullquote .pullquote {
    display: block;
    margin: 10px 0;
    padding: 38px 45px 10px;
    background-color: #fff;
    background: url("/site_media/img/quotes.png") no-repeat scroll left top transparent;
}    

table td.noborder
{
	border-bottom: 0;
}

table th.tabletitle
{
	margin: 0;
	padding: 5px 3px;
	font-size: 1.1em;
	color: #000;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #caddf0;
}

.dropdownmenu
{
	margin: 0 0 0 5px;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	color: #000;
	font: normal 1em "lucida grande", arial, helvetica, sans-serif;
}

.surveyform
{
	margin: 20px 20px 0 20px;
	padding: 20px;
	border: 1px solid #ccc;
	line-height: 140%;
}

#programfield
{
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
	border: 0;
}

#yearfield
{
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
}

#experiencefield
{
	clear: both;
	margin: 0;
	padding: 14px 0 0 0;
	border: 0;
}

.figurenotes
{
	font-size: 11px;
	line-height: 150%;
}

body#introduction a#introduction,
body#sensespec a#sensespec,
body#signiftest a#signiftest,
body#subsensespec1 a#subsensespec1,
body#subsensespec2 a#subsensespec2,
body#subsensespec3 a#subsensespec3,
body#subsensespec4 a#subsensespec4,
body#subsensespec5 a#subsensespec5,
body#subsigniftest1 a#subsigniftest1,
body#subsigniftest2 a#subsigniftest2,
body#subsigniftest3 a#subsigniftest3,
body#subsigniftest4 a#subsigniftest4,
body#subsigniftest5 a#subsigniftest5,
body#moresubsigniftest1 a#moresubsigniftest1,
body#moresubsigniftest2 a#moresubsigniftest2,
body#moresubsigniftest3 a#moresubsigniftest3,
body#evaluation a#evaluation,
body#current a#current,
body#glossary a#glossary,
body#bibliography a#bibliography,
body#poctools a#poctools
{
	color: #000;
	font-weight: bold;
}

.flashanimation
{
	margin: auto;
	border: 1px solid #999;
}

#getFlash
{
	margin: 20px auto;
	padding: 0;
	border: 0;
	display: block;
	height: 120px;
	width: 400px;
	background: url('/site_media/img/flashicon.jpg') top left no-repeat;
}

#getFlash h3
{
	margin: 0 0 0 0;
	padding: 0 0 0 115px;
	border: 0;
	font-weight: normal;
	font-size: 1.45em;
	color: #666;
}

#getFlash p
{
	margin: 0;
	padding: 10px 0 0 115px;
	border: 0;
}

#visualclear
{
	display: block;
	clear: both;
	height: 2px;
}



/* ***** Footer ***** */

#footer
{
	min-width: 912px;
	width: 912px;
	height: 40px;
	margin: 20px 0 0 0;
	padding: 0;
	border: 0;
	background-color: #dedede;
}

ul#standard-elements {
    list-style: none;
    text-align: center;
    padding-top: 12px;
    font-size: 90%;

}

ul#standard-elements li{
    display: inline;
    margin: 10px;
}
.block-edit {
    border: #999 solid 1px;
    margin: 1em;
}

textarea {width: 100%;}



.dragging { background-color: #fed;}



.yours {
background-color: #dedede; 
color: #000;
padding: 1px;
}

.yours.correct, .yours.correctanswer {
background-color: #E6F2D8; 
}

.yours.incorrect, .yours.incorrectanswer {
background-color: #f00;
color: #fff;
}

.expert {color: orange;}

//.incorrect { }
.correct { }

.correctanswer { }
.incorrectanswer { }

.answer-inner {color: #000;}

.submissionheader th, .submissionheader td {background-color: #fff; }

/* jquery tabs */
.ui-tabs .ui-tabs-hide {
     display: none;
}

.hs-hide {display: none;}
.hs-show {display: block;}

li.hs-control-hide, li.hs-control-show {
	margin-top: 10px !important;

}

li.hs-control-hide {
	background: url(/site_media/img/bullet_open.gif) no-repeat scroll left 4px transparent !important;
}

li.hs-control-show {
	background: url(/site_media/img/bullet_close.gif) no-repeat scroll left 4px transparent !important;
}

p.warning {
  border: #f00 solid 1px;
  padding: 1em;
  background-color: #fee;
  color: #900;
}


#primarynav ul.globalnav li a {

background-color: transparent;
}


#standardnav {
    display: none;
}


h1#logo_project {
height: 80px;
width: 510px;
border: none;
background: url("/site_media/img/pass_logo.png") no-repeat scroll left top transparent;
margin: 0;
}

img.logo_project {
    width: 912px;
}

h4#logo_uncharted {
    height: 50px;
    width: 153px;
    border: 0;
    background: url("/site_media/img/uncharted_logo.png") no-repeat scroll right top transparent;
    margin: 0;
	padding: 0 !important;
}

.maintext {
    margin-bottom: 1em;
}

.left {

    float: left;
    margin: 15px;

}

.right {

    float: right;
    margin: 15px;

}

.center {

    text-align: center;
    margin: 15px;

}

.emphasis {
    font-weight: bold;
    font-style: italic;

}

/** Shield Box **/
.warningmessage
{
    padding: 10px;
    border: 1px solid #ff9933;
    background-color: #feefda;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font: normal 12px/130% helvetica, arial, sans-serif;
    color: #000;
}

#shieldbox .browsers
{
    margin-bottom: 5px;
    margin-bottom: 5px;
}

#shieldbox .alert
{
    margin: 0 20px 0 0;
    border: 0;
    padding: 0;
    display: block;
    float: left;
}

#shieldbox .alert .icon
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    width: 50px;
    height: 65px;
    float: left;
    background: url('/site_media/img/icons_app.png') 0px -433px no-repeat;
}

#shieldbox .alert .content
{
    width: 400px;
    margin: 0 0 0 10px;
    border: 0;
    padding: 0;
    display: block;
    float: left;
}

#shieldbox .alert .content .title
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

#shieldbox .alert .content .comment
{
    margin: 5px 0 0 0;
    border: 0;
    padding: 0;
    display: block;
}

#shieldbox #minreqversion
{
    font-weight: bold;
}

#shieldbox .solution
{
    width: 400px;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    float: left;
}

#shieldbox .browser
{
    margin: 0 5px 0 0;
    border: 0;
    padding: 0;
    display: none;
    float: left;
}

#shieldbox .isrequired
{
    display: block;
}

#shieldbox .browser .icon
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    width: 60px;
    height: 55px;
    /*
        float: left;
    */
}

#shieldbox .browser .content
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    /*
        float: left;
    */
}

#shieldbox .browser .content .title
{
    width: 56px;
    height: 22px;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    padding: 2px;
    border: 1px solid #f3ca90;
    background-color: #fdf8f1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}

#shieldbox .browser .content .title:hover
{
    background-color: #e2edfd;
    border: 1px solid #92beff;
}

#shieldbox .browser .content .title a
{
    margin: 0;
    border: 0;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

#shieldbox .browser .content .title a:hover
{
    color: #000;
    text-decoration: none;
}

#shieldbox #chrome .icon
{
    background: url('/site_media/img/icons_app.png') 5px 0 no-repeat;
}

#shieldbox #firefox .icon
{
    background: url('/site_media/img/icons_app.png') 5px -60px no-repeat;
}

#shieldbox #safari .icon
{
    background: url('/site_media/img/icons_app.png') 5px -122px no-repeat;
}

#shieldbox #msie .icon
{
    background: url('/site_media/img/icons_app.png') 5px -183px no-repeat;
}

#shieldbox #flash .icon
{
    background: url('/site_media/img/icons_app.png') 5px -243px no-repeat;
}

#shieldbox #quicktime .icon
{
    background: url('/site_media/img/icons_app.png') 5px -303px no-repeat;
}

#shieldbox #acrobat .icon
{
    background: url('/site_media/img/icons_app.png') 5px -363px no-repeat;
}

#shieldbox .nosupport_close
{
    float: right;
    font-family: courier new;
    font-weight: bold;
}

#shieldbox .nosupport_close img
{
    border: 0;
}

#shieldbox .nosupport_close a
{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    height: 16px;
    width: 16px;
    background: url('/site_media/img/icons_app.png') -18px -506px no-repeat;
}

/* REGISTRATION - LOGIN */

.loginbox
{
	display: block;
	float: right;
	width: 300px;
	margin: 0 0 0 20px;
	padding: 0;
	border: 1px solid #999;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 12px;
}

.loginbox h2
{
	margin: 0 !important;
	padding: 5px 10px !important;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	background: #e0e0e0;
	font-weight: bold !important;
	font-size: 14px !important;
	line-height: 26px !important;
	height: 26px !important;
}

.loginbox .content
{
	margin: 0;
	padding: 20px 10px 0 10px;
	border: 0;
}

.loginbox .seperator
{
	margin: 20px 0;
	padding: 0;
	border: 0;
	border-top: 1px dotted #999;
	background-color: #fff;
}

.loginbox .fieldwrapper
{
	margin: 0 0 10px 10px;
	padding: 0;
	border: 0;
}

.loginbox .fieldwrapper label
{
	display: block;
	font-weight: bold;
	color: #666;
	font-size: 12px;
}

.loginbox .fieldwrapper input
{
	width: 200px;
	margin: 2px 0;
	padding: 3px;
	border: 0;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	font: bold 12px arial, helvetica, verdana, sans-serif;
}

.loginbox .fieldwrapper input:focus
{
	border: 1px solid #06f;
	background-color: #fff;
}

.loginbox .regbutton
{
	cursor: pointer;
	padding: 4px 17px;
	margin: 0 0 10px 10px;
	color: #000;
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #999;
	border-bottom: 1px solid #666;
	border-left-color: #999;
	border-right-color: #999;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	font: bold 14px arial, helvetica, verdana, sans-serif !important;
	text-transform: uppercase;
}

.loginbox .regbutton:hover
{
	border: 1px solid #339999;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#99cccc));
	background: -moz-linear-gradient(top, #fff, #99cccc);
}

.loginbox .regbutton:active
{
	border: 1px solid #006666;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#669999));
	background: -moz-linear-gradient(top, #fff, #669999);
}

.loginbox .smalltxt
{
	font-size: 11px;
}

.errornote {
	background: url("/site_media/img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
	border: 1px solid #c00 !important;
	display: block;
	font-size: 11px !important;
	margin: 0 0 10px 0;
	padding: 5px 5px 5px 25px !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 140%;
}

.errornote span {
	color: #c00;
}

/* BOOTSTRAP MODIFICATION */

.pagemode
{
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

/* NO BOOTSTRAP MODIFICATION */

.no_bootstrap .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.no_bootstrap .btn:hover {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.no_bootstrap .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.no_bootstrap .btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.no_bootstrap .btn-danger,
.no_bootstrap .btn-danger:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.no_bootstrap .btn-danger.active {
  color: rgba(255, 255, 255, 0.75);
}

.no_bootstrap .btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.no_bootstrap .btn-danger:hover,
.no_bootstrap .btn-danger:active {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.no_bootstrap .btn-danger:active {
  background-color: #942a25 \9;
}


.no_bootstrap .btn-info,
.no_bootstrap .btn-info:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.no_bootstrap .btn-info.active {
  color: rgba(255, 255, 255, 0.75);
}

.no_bootstrap .btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.no_bootstrap .btn-info:hover,
.no_bootstrap .btn-info:active,
.no_bootstrap .btn-info.active,
.no_bootstrap .btn-info.disabled,
.no_bootstrap .btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.no_bootstrap .btn-info:active,
.no_bootstrap .btn-info.active {
  background-color: #24748c \9;
}



.nav {
  margin-bottom: 0 !important;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  color: #339999 !important;
  background-color: #d0e1db !important;
}

.nav > li.pmode_title > a:hover {
    color: #000 !important;
  background: transparent !important;
}

.nav-pills {
  *zoom: 1;
}

.nav-pills:before {
  display: table;
  content: "";
}

.nav-pills:after {
  clear: both;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-pills > li > a {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff !important;
  background-color: #339999 !important;
}

.pmode_title, .pmode_title a:hover {
    color: #000 !important;
}

body.editmode .mceEditor
{
    font: normal 14px/140% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333 !important;
	font-size: 14px !important;
	line-height: 150% !important;
}

#content .career_location a.btn {
    color: #000;
}


.outermost_pageblock_on_current_careermap_page .map-off {
    color: #fff !important;
}

.outermost_pageblock_on_current_careermap_page .map-on {
    color: #F46B08 !important;
}

.btn-register {
    color: #fff !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px 5px 3px 0px !important;
}

.module_list li {
    padding: 5px 0;
}

.org_logo {
    margin: 20px auto 0 auto !important;
    padding: 0;
    border: 0;
    text-align: center;
    height: 100px;
}

.org_logo a {
    margin: 0;
    border: 0;
    outline: 0;
}

.org_logo img {
    padding: 5px 20px;
    margin: 0;
    border: 0;
    outline: 0;
}

.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

