/* ***** Principal Elements ***** */

.printonly
{
	display: none;
}


legend 
{
	font-weight: bold; 
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px 10px 5px 10px;
}

 
body
{
	min-width: 912px;
	margin: auto;
	padding: 0;
	border: 0;
	background-color: #e1f0ef !important;
	font: normal 90% "lucida grande", arial, helvetica, sans-serif !important;
	color: #333 !important;
}

h1, h2, h3, h4, h5, h6
{
	margin: 1.5em 0;
	padding: 0;
	border: 0;
	font-weight: bold;
	color: #000;
	text-transform: capitalize;
}

h1
{
	margin: 0 0 0 0;
	font-size: 140%;
	font-weight: normal;
}

h2
{
	margin: 0 0 0 0;
	font-size: 120%;
	font-weight: normal;
}

h3
{
	font-size: 110%;
	font-weight: bold;
}

h4
{
	font-size: 100%;
	font-weight: bold;
}

h5
{
	margin: 1em 0 0.7em 0;
	font-size: 100%;
}

h6
{
	margin: 1em 0 0.7em 0;
	font-size: 90%;
	font-style: italic;
}

p
{
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 2em 1em 2em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 1em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

table.noborders,
table.noborders td

{
    border: none;
    padding: 10px;
    vertical-align: top;
}

table tbody
{
	border: 0;
}

th
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

td
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

ol, ul
{
	display: block;
	margin: 0 0 1em 3em;
	padding: 0 0 1em 0;
	border: 0;
	font-size: 100%;
}

.cascadeloweralpha ol li,
.loweralpha
{
	list-style-type:lower-alpha;
}

.cascadeupperalpha ol li,
.upperalpha
{
	list-style-type:upper-alpha;
}

.cascadecircle ul li,
.circle
{
	list-style-type:circle;
}

cascadesquare li,
.square
{
	list-style-type:square;
}

li
{
	margin: 0 0 0.5em 0;
}

a
{
	color: #f46b08;
	text-decoration: none;
}

a:hover
{
	color: #35a0a4;
	text-decoration: none;
}

a:active
{
	color: #35a0a4;
	text-decoration: none;
}

a:visited
{
	color: #f46b08;
	text-decoration: none;
}

/* ***** Principal Blocks ***** */

#container
{
	min-width: 912px;
	width: 912px;
	margin: auto;
	padding: 0;
	border: 0;
	background-color: #fff;
}

/* --- Header elements --- */

#header
{
	min-width: 912px;
	width: 912px;
	height: 76px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #dedede;
	position: relative;
}

#header h1, #header h1 a
{
	display: block;
	float: left;
	width: 560px;
	height: 57px;
	overflow: hidden;
	margin: 40px 0 0 20px;
	padding: 0;
	border: 0;
}

#header h4 a
{
	display: block;
	position: absolute;
	top: 45px;
	right: 30px;
	width: 120px;
	height: 43px;
	margin: 0;
	padding: 0;
	border: 0;
}


#header h1 a, #header h4 a
{
	float: none;
	margin: 0;
}

#header h1 span, #header h4 span
{
	display: none;
}

/* --- Standard navigation --- */

#standard_navigation
{
	display: block;
	margin: 0px
	padding: 0px;
	font-size: 12px;
	position: absolute;
	top: 2px;
	right: 20px;
}

#standard_navigation li
{
	float: left;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
	list-style: none;
	color: #fff;
}

#standard_navigation a
{
	color: #fff;
}

#standard_navigation a:hover
{
	color: #fc6;
}

/* --- Primary navigation --- */

#primarynav
{
	min-width: 912px;
	width: 912px;
	margin: 0;
	padding: 0;
	border: 0;
    height: 35px;

    background: rgb(63,176,180); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(63,176,180,1) 0%, rgba(254,240,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63,176,180,1)), color-stop(100%,rgba(254,240,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(63,176,180,1) 0%,rgba(254,240,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fb0b4', endColorstr='#fef0e8',GradientType=1 ); /* IE6-9 */

}

#primarynav ul.globalnav
{
	display: block;
	float: left;
    margin: 2px;
	padding: 0;
	border: 0;
	list-style: none;
	width: 100%
}

#primarynav .icon-chevron-down {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/site_media/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: -313px -119px;
}

#primarynav ul.globalnav li
{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	font: normal 14px/31px "lucida grande", arial, helvetica, sans-serif;
	list-style: 0;
}

#primarynav ul.globalnav li a
{
	display: block;
	padding: 0 10px 0 8px;
	font-weight: bold;
	color: #fff;
	background-color: #696;
}

#primarynav ul.globalnav li a:hover
{
	color: #fbf523;
}

#primarynav ul.globalnav li.active a
{
	color: #333;
	background-color: #8c8;
}

#header #usernav
{
	display: block;
	padding: 0;
	border: 0;
	list-style: none;
    color: #666;
    float: right;
    font-size: 85%;
    margin: 10px 10px 0;
}

#header ul.usernav li
{
	float: left;
	margin: 0;
	padding: 0 16px 0 10px;
	border: 0;
	font: normal 14px/31px "lucida grande", arial, helvetica, sans-serif;
	list-style: 0;
}

#header ul.usernav li a
{
	display: block;
	float: right;
}


#header ul.usernav li#logout
{
	padding: 0;
	background: url('../img/icon_padlock.gif') left bottom no-repeat;
}

#header ul.usernav li#logout a
{
	display: block;
	padding: 0 15px 0 20px;
	color: #000;
	text-decoration: none;
}

/* --- Pagebody, contains secodary nav and content --- */

#pagebody
{
	min-width: 912px;
	min-height: 600px;
	position: relative;
	width: 912px;
	padding: 0;

}

.visualclear {clear: both;}

/* --- Secondary navigation --- */

#secondary_navigation
{
    position: absolute;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0 0 20px 0;
	border: 0;
    z-index: 1000;
}

#secondary_navigation .block h3
{
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	border-bottom: 1px dotted #6c0;
	font-weight: bold;
}

#secondary_navigation div.selected {
    width: 100%;
    background-color: white;
    margin-left: -4px;
    padding: 4px;
    font-weight: normal;
    color: #35a0a4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

#secondary_navigation div.regular a {
    font-weight: normal;
    color: white;
}

#secondary_navigation div.disabled {
    font-weight: normal;
    color: #d7d7d7;
}

#secondary_navigation .block ul
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;	
	background-color: #7CAFB2;
	padding: 15px;
	
}

#secondary_navigation .block ul li
{
	margin: 3px 0 0 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	color: #fff;
	padding: 1px;
	border-bottom: 1px dotted #dedede;

}

#secondary_navigation .block ul li a
{
    font-size: 100%;

}

#secondary_navigation .block ul li a:hover
{
    color: #ecd785;

}

#secondary_navigation .block ul li a:visited
{


}

#secondary_navigation .block ul li ul
{
	display: block;
	margin: 5px 0 5px 10px;
	padding: 0;
	border: 0;
	list-style: none;

}

#secondary_navigation .block ul li ul li
{
	margin: 3px 0 0 0;
	border: none;

}

#secondary_navigation .block ul li ul li ul
{
	display: block;
	margin: 10px 0 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
}

/* ***** Content ***** */

#content
{
	display: block;
	float: left;
	width: 670px;
	margin: 15px 15px 0 20px;
	padding: 0;
	border: 0;

}

.content_one_column
{
	display: block;
	float: none;
	width: 860px;
	margin: 20px 25px;
	padding: 0;
	border: 0;
}

#content h1
{

	
}

#content h2
{
}

#content h3
{

}

#content p
{
	line-height: 140%;
}

#content .content-nav
{
	height: 1.5em;
	margin: 2em 0 0 0;
	padding: 0.5em 0;
	border: 0;
	border-top: 1px dotted #6c0;
	border-bottom: 1px dotted #6c0;
}

#content .content-nav a#previous
{
	display: block;
	float: left;
	width: auto;
	line-height: 1.5em;
}

#content .content-nav a#next, a#next, #next
{
	display: block;
	float: right;
	width: auto;
	line-height: 1.5em;
	text-align: right;
}

.pageblock, .block {

    margin: 0 0 1em 0;
    display: block;

}

/* Login page */

.loginbox
{
	float: right;
	width: 280px;
	margin: 0 10px;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_middle.gif') repeat-y top;
}

.loginbox .boxtop
{
	width: 280px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_top.gif') no-repeat top;
}

.loginbox .boxbottom
{
	width: 280px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_bottom.gif') no-repeat bottom;
}

.loginbox h2
{
	margin: 0 0 10px 10px;
	padding: 0;
	border: 0;
	font: bold 16px "lucida grande", arial, helvetica, sans-serif;
}

.loginbox h3
{
	margin: 0 0 10px 10px;
	padding: 0;
	border: 0;
	font: bold 1em "lucida grande", arial, helvetica, sans-serif;
}

.loginbox .alert
{
	margin: 0 0 10px 10px;
	padding: 0;
	border: 0;
	font: bold italic 1em "lucida grande", arial, helvetica, sans-serif;
	color: #000;
}

.loginbox .alert a
{
	text-decoration: underline;
}

.loginbox hr
{
	height: 1px;
	margin: 15px 0;
	padding: 0;
	border: 0;
	background-color: #999;
	color: #999;
}

.loginbox form
{
	margin: 0;
	padding: 0;
	border: 0;
}

.loginbox input.regButton
{
	margin: 0 0 0 10px;
	padding: 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	font: normal 1em "lucida grande", arial, helvetica, sans-serif;
	cursor: pointer;
}

.loginbox input.regButton:active
{
	background-color: #ccc;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.loginbox input#id_password,
.loginbox input#id_username
{
	width: 170px;
	margin: 0;
	padding: 2px;
	border: 1px solid #999;
	background-color: white;
	font: normal 12px "lucida grande", arial, helvetica, sans-serif;
	color: #000;
	vertical-align: middle;
}

.loginbox table
{
	margin: 0 10px;
	padding: 0;
	border: 0;
}

.loginbox table td
{
	margin: 0;
	padding: 3px 2px 3px 0;
	border: 0;
}

.loginbox table td a
{
	font-size: 11px;
	color: #069;
	text-decoration: underline;
}

/* Case quizzes */

.cases
{
	margin: 1em 0;
	padding: 0;
	border: 1px solid #999;
}

.casetitle
{
	background-color: #e6f2d8;
	margin: 0;
	padding: 5px 10px;
	border: 0;
	font-weight: bold;
}

.casecontent
{
	margin: 10px;
	padding: 0;
	border: 0;
}

.casequestion
{
	margin: 0;
	padding: 0;
	border: 0;
}


.cases li
{
	margin: 2px 0;
}

.casesanswerdisplay
{
	margin: 0;
	padding: 5px;
	border: 1px solid #999;
	line-height: 18px;
}

.moretoggle
{
	font-weight: bold;
}

.pullquote
{
	display: block;
	margin: 10px 0;
	padding: 38px 45px 10px;
	background-color: #fff;
	background: url("../img/quotes.png") no-repeat scroll left top transparent;
}

.pullquote .source, .source
{
    font-size: 90%;
    font-style: italic;
}

table td.noborder
{
	border-bottom: 0;
}

table th.tabletitle
{
	margin: 0;
	padding: 5px 3px;
	font-size: 1.1em;
	color: #000;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #caddf0;
}

.dropdownmenu
{
	margin: 0 0 0 5px;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	color: #000;
	font: normal 1em "lucida grande", arial, helvetica, sans-serif;
}

.surveyform
{
	margin: 20px 20px 0 20px;
	padding: 20px;
	border: 1px solid #ccc;
	line-height: 140%;
}

#programfield
{
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
	border: 0;
}

#yearfield
{
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
}

#experiencefield
{
	clear: both;
	margin: 0;
	padding: 14px 0 0 0;
	border: 0;
}

.figurenotes
{
	font-size: 11px;
	line-height: 150%;
}

body#introduction a#introduction,
body#sensespec a#sensespec,
body#signiftest a#signiftest,
body#subsensespec1 a#subsensespec1,
body#subsensespec2 a#subsensespec2,
body#subsensespec3 a#subsensespec3,
body#subsensespec4 a#subsensespec4,
body#subsensespec5 a#subsensespec5,
body#subsigniftest1 a#subsigniftest1,
body#subsigniftest2 a#subsigniftest2,
body#subsigniftest3 a#subsigniftest3,
body#subsigniftest4 a#subsigniftest4,
body#subsigniftest5 a#subsigniftest5,
body#moresubsigniftest1 a#moresubsigniftest1,
body#moresubsigniftest2 a#moresubsigniftest2,
body#moresubsigniftest3 a#moresubsigniftest3,
body#evaluation a#evaluation,
body#current a#current,
body#glossary a#glossary,
body#bibliography a#bibliography,
body#poctools a#poctools
{
	color: #000;
	font-weight: bold;
}

.flashanimation
{
	margin: auto;
	border: 1px solid #999;
}

#getFlash
{
	margin: 20px auto;
	padding: 0;
	border: 0;
	display: block;
	height: 120px;
	width: 400px;
	background: url('../img/flashicon.jpg') top left no-repeat;
}

#getFlash h3
{
	margin: 0 0 0 0;
	padding: 0 0 0 115px;
	border: 0;
	font-weight: normal;
	font-size: 1.45em;
	color: #666;
}

#getFlash p
{
	margin: 0;
	padding: 10px 0 0 115px;
	border: 0;
}

#visualclear
{
	display: block;
	clear: both;
	height: 2px;
}



/* ***** Footer ***** */

#footer
{
	min-width: 912px;
	width: 912px;
	height: 40px;
	margin: 20px 0 0 0;
	padding: 0;
	border: 0;
	background-color: #dedede;
}

ul#standard-elements {
    list-style: none;
    text-align: center;
    padding-top: 12px;
    font-size: 90%;

}

ul#standard-elements li{
    display: inline;
    margin: 10px;
}
.block-edit {
    border: #999 solid 1px;
    margin: 1em;
}

textarea {width: 100%;}



.dragging { background-color: #fed;}



.yours {
background-color: #dedede; 
color: #000;
padding: 1px;
}

.yours.correct, .yours.correctanswer {
background-color: #E6F2D8; 
}

.yours.incorrect, .yours.incorrectanswer {
background-color: #f00;
color: #fff;
}

.expert {color: orange;}

//.incorrect { }
.correct { }

.correctanswer { }
.incorrectanswer { }

.answer-inner {color: #000;}

.submissionheader th, .submissionheader td {background-color: #fff; }

/* jquery tabs */
.ui-tabs .ui-tabs-hide {
     display: none;
}

.hs-hide {display: none;}
.hs-show {display: block;}

li.hs-control-hide, li.hs-control-show {
	margin-top: 10px !important;

}

li.hs-control-hide {
	background: url(/site_media/img/bullet_open.gif) no-repeat scroll left 4px transparent !important;
}

li.hs-control-show {
	background: url(/site_media/img/bullet_close.gif) no-repeat scroll left 4px transparent !important;
}

p.warning {
  border: #f00 solid 1px;
  padding: 1em;
  background-color: #fee;
  color: #900;
}


#primarynav ul.globalnav li a {

background-color: transparent;
}


#standardnav {
    display: none;
}


h1#logo_project {
height: 80px;
width: 510px;
border: none;
background: url("../img/pass_logo.png") no-repeat scroll left top transparent;
margin: 0;
}

img.logo_project {
    width: 912px;
}

h4#logo_ccnmtl {
height: 47px;
width: 200px;
border: none;
background: url("../img/uncharted_logo.png") no-repeat scroll right top transparent;
margin: 0;
}

.maintext {
    margin-bottom: 1em;
}

.left {

    float: left;
    margin: 15px;

}

.right {

    float: right;
    margin: 15px;

}

.center {

    text-align: center;
    margin: 15px;

}

.emphasis {
    font-weight: bold;
    font-style: italic;

}

/** Shield Box **/
.warningmessage
{
    padding: 10px;
    border: 1px solid #ff9933;
    background-color: #feefda;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font: normal 12px/130% helvetica, arial, sans-serif;
    color: #000;
}

#shieldbox .browsers
{
    margin-bottom: 5px;
    margin-bottom: 5px;
}

#shieldbox .alert
{
    margin: 0 20px 0 0;
    border: 0;
    padding: 0;
    display: block;
    float: left;
}

#shieldbox .alert .icon
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    width: 50px;
    height: 65px;
    float: left;
    background: url('../img/icons_app.png') 0px -433px no-repeat;
}

#shieldbox .alert .content
{
    width: 400px;
    margin: 0 0 0 10px;
    border: 0;
    padding: 0;
    display: block;
    float: left;
}

#shieldbox .alert .content .title
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

#shieldbox .alert .content .comment
{
    margin: 5px 0 0 0;
    border: 0;
    padding: 0;
    display: block;
}

#shieldbox #minreqversion
{
    font-weight: bold;
}

#shieldbox .solution
{
    width: 400px;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    float: left;
}

#shieldbox .browser
{
    margin: 0 5px 0 0;
    border: 0;
    padding: 0;
    display: none;
    float: left;
}

#shieldbox .isrequired
{
    display: block;
}

#shieldbox .browser .icon
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    width: 60px;
    height: 55px;
    /*
        float: left;
    */
}

#shieldbox .browser .content
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    /*
        float: left;
    */
}

#shieldbox .browser .content .title
{
    width: 56px;
    height: 22px;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    padding: 2px;
    border: 1px solid #f3ca90;
    background-color: #fdf8f1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}

#shieldbox .browser .content .title:hover
{
    background-color: #e2edfd;
    border: 1px solid #92beff;
}

#shieldbox .browser .content .title a
{
    margin: 0;
    border: 0;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

#shieldbox .browser .content .title a:hover
{
    color: #000;
    text-decoration: none;
}

#shieldbox #chrome .icon
{
    background: url('../img/icons_app.png') 5px 0 no-repeat;
}

#shieldbox #firefox .icon
{
    background: url('../img/icons_app.png') 5px -60px no-repeat;
}

#shieldbox #safari .icon
{
    background: url('../img/icons_app.png') 5px -122px no-repeat;
}

#shieldbox #msie .icon
{
    background: url('../img/icons_app.png') 5px -183px no-repeat;
}

#shieldbox #flash .icon
{
    background: url('../img/icons_app.png') 5px -243px no-repeat;
}

#shieldbox #quicktime .icon
{
    background: url('../img/icons_app.png') 5px -303px no-repeat;
}

#shieldbox #acrobat .icon
{
    background: url('../img/icons_app.png') 5px -363px no-repeat;
}

#shieldbox .nosupport_close
{
    float: right;
    font-family: courier new;
    font-weight: bold;
}

#shieldbox .nosupport_close img
{
    border: 0;
}

#shieldbox .nosupport_close a
{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    height: 16px;
    width: 16px;
    background: url('../img/icons_app.png') -18px -506px no-repeat;
}

