{% extends 'base.html' %}

{% block content %}

<h3>About Population Based Approaches to Patient Service and Professional Success (PASS)</h3>

<p>While your dental education intensely prepares you for understanding and applying biomedical and chemical competencies, there is little opportunity to consider the patient populations you will be able to serve at the completion of your training.
</p>
<p>These modules are designed to orient you to populations across the lifespan so that you can consider how your career may align with your professional and personals goals.
</p>


<h4>Credits</h4>
<h5>Faculty Partners</h5>
<ul>
<li>Burton L. Edelstein, DDS, MPH</li>
<li>David A. Albert, DDS, MPH</li>
<li>Kavita P. Ahluwalia, DDS, MPH</li>
<li>Courtney Chinn, DDS, MPH</li>
</ul>

<h5>Contributing Writers</h5>
<ul>
<li>June Levine, MS, RD, CDN, CDE</li>
<li>Sharifa Z. Williams, MPH</li>
<li>Sarah Lu, MSW</li>
</ul>

<h5>CCNMTL Production Team</h5>
<ul>
<li>Executive Producers</li>
<li>Frank Moretti</li>
<li>Maurice Matiz</li>
<li>John Zimmerman</li>
</ul>

<h5>Project Management</h5>
<ul>
<li>Cindy Smalletz</li>
</ul>

<h5>Web Design</h5>
<ul>
<li>Elizabeth Day</li>
</ul>

<h5>Programming</h5>
<ul>
<li>Anders Pearson</li>
<li>Eddie Rubeiz</li>
</ul>

<h5>Video Production</h5>
<ul>
<li>Stephanie Ogden</li>
<li>Michael Deleon</li>
<li>Acacia Graddy-Gamel</li>
</ul>

{% endblock %}
