{% extends 'base.html' %}
{% comment %}######## THIS IS PASS TEMPLATE ########{% endcomment %}
{% block title %}About PASS{% endblock %}

{% block js %}
{{ block.super }}
<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block loginbutton %}<a href="/" class="btn btn-mini btn-danger">Log in</a>{% endblock %}

{% block projectbanner %}{% endblock %}

{% block content %}

<h2>About Population Based Approaches to Patient Service and Professional Success (PASS)</h2>

<p>While your dental education intensely prepares you for understanding and applying biomedical and chemical competencies, there is little opportunity to consider the patient populations you will be able to serve at the completion of your training.
</p>
<p>These modules are designed to orient you to populations across the lifespan so that you can consider how your career may align with your professional and personals goals.
</p>


<h3>Credits</h3>

<h6>Faculty Partners</h6>
<ul>
    <li>Burton L. Edelstein, DDS, MPH</li>
    <li>Courtney Chinn, DDS, MPH</li>
    <li>David A. Albert, DDS, MPH</li>
</ul>

<h6>Contributing Writers</h6>
<ul>
<li>June Levine, MS, RD, CDN, CDE</li>
<li>Sharifa Z. Williams, MPH</li>
</ul>

<p>&nbsp;</p>
<h5>CCNMTL Production Team</h5>
<h6>Executive Producers</h6>
<ul>
<li>Frank Moretti</li>
<li>Maurice Matiz</li>
<li>Michelle Hall</li>
<li>John Zimmerman &mdash; Module One</li>
</ul>

<h6>Project Management</h6>
<ul>
<li>Cindy Smalletz</li>
</ul>

<h6>Web Design</h6>
<ul>
<li>Elizabeth Day &mdash; Module One</li>
<li>Rachelle White &mdash; Module Two</li>
</ul>

<h6>Programming</h6>
<ul>
<li>Susan Dreher &mdash; Module Two</li>
<li>Zarina Mustapha &mdash; Module Two</li>
<li>Anders Pearson &mdash; Module One</li>
<li>Eddie Rubeiz &mdash; Module One</li>
</ul>

<h6>Video Production</h6>
<ul>
<li>Stephanie Ogden</li>
<li>Michael Deleon</li>
<li>Acacia Graddy-Gamel</li>
<li>Jon Hanford &mdash; Module Two</li>
</ul>
{% endblock %}
