{% extends 'base.html' %}
{% comment %}######## THIS IS PASS TEMPLATE ########{% endcomment %}

{% block js %}
{{ block.super }}
<script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block loginbutton %}<a href="/" class="btn btn-mini btn-danger">Log in</a>{% endblock %}

{% block projectbanner %}{% endblock %}


{% block content %}

<p>Help page content goes here</p>

{% endblock %}
