{% extends 'base.html' %}
{% load render %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>


    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("form").submit(function() {
                var valid = true;

                var children = jQuery(this).find("input,textarea,select");
                jQuery.each(children, function() {
                    if (valid) {
                        if (this.tagName === 'INPUT' && this.type === 'text' ||
                                this.tagName === 'TEXTAREA') {
                            valid = jQuery(this).val().trim().length > 0;
                        }

                        if (this.tagName === 'SELECT') {
                            var value = jQuery(this).val()
                            valid = value !== undefined && value.length > 0 && jQuery(this).val().trim() !== '-----';
                        }

                        if (this.type === 'checkbox' || this.type === 'radio') {
                            // one in the group needs to be checked
                            var selector = 'input[name=' + jQuery(this).attr("name") + ']';
                            valid = jQuery(selector).is(":checked");
                        }
                    }
                });

                if (!valid) {
                    alert("Please complete all form fields before continuing.");
                }

                return valid;
            });
        });
    </script>

{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}


{% block title %}{{section.label}}{% endblock %}

{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        <div id="secondary_navigation">
                <div id="fadetop"></div>
                <div class="block">
                  {% if module.get_children %}
                        <!--<h3>Sections</h3>-->
                        {% include "main/menu.html" %}
                  {% endif %}
                </div><!-- div id="block" -->
                <div id="fadebottom"></div>
        </div><!-- div id="secondary_navigation" -->
{% endblock %}

{% block content %}

{% if needs_submit %}
{% if is_submitted %}
{% else %}
<form action="." method="post">
{% endif %}
{% endif %}


{% for block in section.pageblock_set.all %}
<div class="pageblock" id="pageblock-{{block.id}}">
{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{% render block %}
</div>
{% endfor %}


{% if needs_submit %}
{% if request.user.is_anonymous %}
{% else %}

{% if is_submitted %}
{% if allow_redo %}
<form action="." method="post">
<input type="hidden" name="action" value="reset" />
<input type="submit" value="clear your answers and try again" />
</form>
{% endif %}
{% else %}
<input type="submit" value="Submit" />

</form>
{% endif %}
{% endif %}
{% endif %}

{% endblock %}

{% block content-nav %}

    <div class="content-nav">

    {% if section.get_previous %}
        <a href="{{section.get_previous.get_absolute_url}}" id="previous">« {{section.get_previous.label}}</a>
    {% endif %}

    {% if section.get_next %}
        {% with section.get_next as next_section %}
            {% if next_unlocked %}
                {%  ifequal section.hierarchy section.get_next.hierarchy %}
                    {% if allow_next_link %}
                        <a href="{{section.get_next.get_absolute_url}}" id="next"> {{section.get_next.label}} »</a>
                    {% else %}
                        <span id="next">{{section.get_next.label}} »</span>
                    {% endif %}
                {%  endifequal %}
            {% else %}
                <span id="next">{{section.get_next.label}} »</span>
            {% endif %}
        {% endwith %}
    {% endif %}

</div><!-- div id="content-nav" -->
{% endblock %}
