{% load careerlocation_state %}

<script src="/site_media/js/json2.js" type="text/javascript" ></script>
<script src="/site_media/js/underscore/underscore-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone/backbone.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone-tastypie.js" type="text/javascript" ></script>

<script src="/_careerlocation/media/js/models.js?version=1" type="text/javascript" ></script>
<script src="/_careerlocation/media/js/strategy.js?version=2" type="text/javascript" ></script>

<style type="text/css">
    div.casetitle { display: none; }
    span.yours.incorrect { background: orange; }
    span.yours.correct { background: orange; } 
</style>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var options = {
            current_state_id: "{% get_user_state_id request.user %}",
            view_type: "{{block.view}}",
            layers: {% render_to_json request 'MapLayerResource' block.layers %},
            strategies: {% render_to_json request 'StrategyResource' block.strategies %},
            el: "div.career_location"
        };
        {% if block.questioner %}
            options.questioner = {% render_to_json request 'ActorResource' block.questioner %} 
        {% endif %}
        
        var view = new StrategyView(options);
    });
</script>

<script type="text/template" id="strategy-template">
    <img id="x" class="btn cancel strategy" src="/site_media/img/close.png" <% if (pros && cons) { %>style="display: none" <% } %>/>
    
    <div class="title-container">
        <div class="strategy-state left viewed <% if (selected) { %>selected<% } %>">
            <%= ordinal %>
        </div>
        <div class="title left"><%= title %></div>
    </div>
    <div class="visualclear"></div>
    <% if (pros && cons) { %>
        <div>
            <div>
                <h5>PROS</h5>
                <%= pros %>
            </div>
            <div>
                <h5>CONS</h5>
                <%= cons %>
            </div>
        </div>
    <% } %> 
    <div class="strategy-container">
        <h5>SUMMARY</h5>
        <%= summary %>        
    </div>
    <div class="strategy-download right">
        <a href="/download/<%=pdf%>">Download full proposal</a>
    </div>
</script>

<script type="text/template" id="all-strategies-template">
    <img id="x" class="btn cancel all-strategies" src="/site_media/img/close.png" />

    <div>
        <h1>You've viewed all the strategies. Click Select Strategy to continue</h1>
    </div>
</script>

<script type="text/template" id="select-strategy-template">
    <div class="instructions">
        <% if (strategy_selected) { %>
            You've selected <%= strategy_selected.title %>. Please click the Defend Strategy to continue.
        <% } else { %>
            Some short text here recapping what happened and what user should do next... please choose your proposal:<br />
            Also, it's important to inform user that he/she will be asked to defend the choice, and that the selection cannot be changed
            after submission.
        <% } %>            
    </div>
    <% for (var i=0; i < strategies.length; i++) { %>
        <div>            
            <input type="radio" name="strategy" value="<%= strategies[i].id %>"
                   <% if (strategy_selected) { %>
                        disabled=disabled
                        <% if (strategy_selected.id === strategies[i].id) { %> checked=checked class="yours" <% } %>
                   <% } %>
            />
            <%= strategies[i].ordinal %>. <%= strategies[i].title %> 
        </div>
    <% } %>
    <% if (!strategy_selected) { %>
        <div><input type="button" id="select-strategy" value="Select Strategy" /></div>
    <% } %>    
</script>

<script type="text/template" id="defend-strategy-template">
    <div class="instructions">
        <% if (defenseComplete) { %>
            You've completed the questions. Click View Pros & Cons to continue.
        <% } else { %>
            You've selected <%= strategy_selected.title %>. Please answer the following questions
        <% } %>
    </div>
    <div>
        <div>
            <div><%= strategy_selected.question.question %></div>
            <div>
                <input type="text"
                       data-id="<%=strategy_selected.question.id%>"
                       <% if (defenseComplete) { %>
                           disabled="disabled"
                           <% for (var i=0; i < responses.length; i++) { %>
                               <% if (responses[i].question.id === strategy_selected.question.id) { %>
                                   value="<%= responses[i].long_response %>"
                               <% } %>
                           <% } %>
                       <% } %>
                 />
            </div>
        </div>
        <% for (var i = 0; i < questioner.questions.length; i++) { %>
            <div>
                <div><%= questioner.questions[i].question %></div>
                <div>
                    <input type="text"
                           data-id="<%=questioner.questions[i].id%>"
                           <% if (defenseComplete) { %>
                               disabled="disabled"
                               <% for (var j=0; j < responses.length; j++) { %>
                                   <% if (responses[j].question.id === questioner.questions[i].id) { %>
                                       value="<%= responses[j].long_response %>"
                                   <% } %>
                               <% } %>
                           <% } %>
                     />
                </div>
            </div>
        <% } %>
        <% if (!defenseComplete) { %>
            <div><input type="button" id="defend-strategy" value="Submit" /></div>
        <% } %>
    </div>   
</script>