{% load careerlocation_state %}

<div class="career_location_summary">
    {% for actor in block.boardmembers.all %}
        <div class="summary_container">
        {% with forloop.counter as idx %}
        {% for q in actor.questions.all %}
            <div class="question_container">
                <div class="q">Q</div>
                <div class="question_content">
                    <p>{{q.question}}</p>
                </div>
            </div>

            <div class="answer_container">
                <div class="user_answer left well">
                    <h4>Your Answer</h4>
                    {% get_user_response request.user q %}
                </div>
                <div class="recommended_answer left well">
                    <h4>Suggested considerations</h4>
                    {{q.answer|safe}}
                </div>
            </div>
            <div class="visualclear"></div>
        {% endfor %}
        {% endwith %}
        </div>
    {% endfor %}
</div>
