{% load smartif %}
{% load careerlocation_state %}

<div class="career_location" style="display: none">
    <div class="career_location_overlay" style="display: none"></div>

    <div class="profile" style="display: none"></div>

    <div class="toolbar">
        <h2 class="left">Stakeholder Interview</h2>
        <a class="btn right" href="#" id="toggle_help" data-toggle="help_text" role="button"><i class="icon-question-sign"></i> Help</a>
        <a class="btn right" href="#" id="toggle_map_layers"><i class="icon-picture"></i> Map Layers</a>
        <a class="btn right" href="#" id="toggle_notepad"><i class="icon-th-list"></i> Notepad</a>
    </div>
    <div class="visualclear"></div>

    <div class="help_content popover-parent" style="display: none">
        <a class="btn right" href="#" id="toggle_help" data-toggle="help_text" role="button"><i class="icon-question-sign"></i> Help</a>
        <h3 class="popover-title">Help</h3>
        <div class="popover-content">
            <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            <div class="popover-close"><a class="btn" href="#">Close</a></div>
        </div>

    </div>

    <div class="map_layer_content popover-parent" style="display: none">
        <a class="btn right" href="#" id="toggle_map_layers"><i class="icon-picture"></i> Map Layers</a>
        <h3 class="popover-title">Select Map Layers</h3>
        <div class="popover-content">
            {% for layer in block.layers %}
                <div>
                    <input type="checkbox" class="select-layer" data-id="{{layer.id}}" id="select_layer_{{layer.id}}" value="{{layer.name}}"></input>
                    {{ layer.display_name }}
                </div>
            {% endfor %}
            <div class="popover-close"><a class="btn" href="#">Close</a></div>
        </div>
    </div>


    <div class="notepad_content popover-parent" style="display: none">
        <a class="btn right" href="#" id="toggle_notepad"><i class="icon-th-list"></i> Notepad</a>
        <h3 class="popover-title">Notepad</h3>
        <div class="popover-content">
            <textarea class="notepad scrollable"></textarea>
            <div class="popover-close"><a class="btn" href="#">Close</a></div>
        </div>
    </div>

    <h5 id="selected_actor_state">You've selected <span id="selected_actor_count">0</span> stakeholders. You must select <span id="actors_remaining">4</span> more stakeholders.</h5>

    <div class="interview_state">
        {%  for x in block.max_stakeholders %}
            <div class="actor_state left empty"><h1>{{ forloop.counter }}</h1></div>
        {%  endfor %}
    </div>
    <div class="visualclear"></div>

    <div>
        <div class="career_location_map">
            {%  for actor in block.stakeholders.all %}
                <img id="actor_{{actor.id}}"
                     data-id="{{actor.id}}"
                     class="actor"
                     style="left: {{actor.left}}px; top: {{actor.top}}px"
                     src="{{actor.image.url}}"
                     alt="interview stakeholder"></img>
            {%  endfor %}

            <img class="career_location_base_layer" src="{{block.base_layer.image.url}}" alt="career location base map" />
            {% for layer in block.layers %}
                <img id="map_layer_{{layer.id}}"
                     data-id="{{layer.id}}"
                     class="career_location_map_layer"
                     src="{{layer.image.url}}"
                     alt="career location base map"
                     style="display: none; z-index: {{layer.z_index}}; opacity:0.{{layer.transparency}}; -moz-opacity:0.{{layer.transparency}}; filter:alpha(opacity={{layer.transparency}});"></img>
            {% endfor %}
        </div>
    </div>
</div>

<div class="visualclear"></div>
