{% load careerlocation_state %}

<script src="/site_media/js/json2.js" type="text/javascript" ></script>
<script src="/site_media/js/underscore/underscore-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone/backbone-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone-tastypie.js" type="text/javascript" ></script>

<script src="/_careerlocation/media/js/interview.js/" type="text/javascript" ></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var view = new CareerLocationView({
            current_state_id: '{% get_user_state_id request.user %}',
            view_type: '{{block.view}}',
            el: 'div.career_location'
        });
    });
</script>


<script type="text/template" id="actor-state-template">
    <div class="actor_state left <%= state %>" id="actor_state_<%= id %>">
        <img src="<%= image %>" data-id="<%= id %>"></img>
        <div class="question_state">
            <% for (var i=0; i < 3; i++, asked--) { %><% if (asked > 0) { %><span class="asked">&bull;</span><% } else { %><span>&bull;</span><% } %><% } %>
        </div>
    </div>
</script>

<script type="text/template" id="actor-map-template">
    <img class="actor" src="<%= image %>" data-id="<%= id %>"></img>
    <div class="question_state">
        <% for (var i=0; i < 3; i++, asked--) { %><% if (asked > 0) { %><span class="asked">&bull;</span><% } else { %><span>&bull;</span><% } %><% } %>
    </div>
</script>


<script type="text/template" id="profile-template">
    <img id="x" class="btn cancel" src="/site_media/img/close.png"/>
    <div class="question_state">
        <% if (!select_stakeholder && questions.length > 0) { %>
            <% for (var i=0; i < 3; i++, asked--) { %><% if (asked > 0) { %><span class="asked">&bull;</span><% } else { %><span>&bull;</span><% } %><% } %>
        <% } %>
    </div>
    <h3><img src="<%= image %>"></img>&nbsp;&nbsp;<%= name %></h3>
    <div>
        <div class="interview left">

            <div><%= profile %></div>
            <br />

            <% if (select_stakeholder) { %>
                <% if (questions.length > 0) { %>
                    <% if (remaining_stakeholders > 0) { %>
                        <div>You must select <%= remaining_stakeholders %>  more stakeholders.</div>
                        <br />

                        <div><b>Do you want to interview <%= name %>?</b></div>

                        <div><button class="btn interview">Yes</button><button class="btn cancel">Not Right Now</button></div>
                    <% } else { %>
                        <div>You've already interviewed 4 stakeholders. Make sure you've asked them each 3 questions!</div>
                        <br />
                    <% } %>
                <% } %>
            <% } else { %>
                <% if (remaining_questions > 0) { %>
                    <div>You've asked <%= response_count %> questions. You must ask <%= remaining_questions %> more.</div>
                <% } else { %>
                    <div>You've completed your interview with <%= name %>.
                        You can review the stakeholder's answers, but you can't ask any more questions.
                        Make sure you've taken good notes!
                    </div>
                <% } %>
                <br />

                <div>
                    <% _.each(questions, function(q, index) { %>
                        <% var asked = false; %>
                        <% _.each(responses, function(r) { if (!asked && q.id === r.attributes.question.attributes.id) { asked = true; } }); %>
                        <div class="accordion-group <% if (index/2 === 0) { %> even <% } %>">
                            <div class="accordion-heading">
                                <div class="question"><%= q.question %></div>
                                <% if (asked) { %>
                                    <button class="btn ask" data-id="<%= q.id %>" <% if (current_question) { %> disabled="disabled" <% } %> >
                                        Asked
                                    </button>
                                <% } else if (remaining_questions <= 0) { %>
                                    <button class="btn asked" data-id="<%= q.id %>" disabled="disabled">
                                        No more questions
                                    </button>
                                <% } else { %>
                                    <button class="btn ask" data-id="<%= q.id %>" <% if (current_question) { %> disabled="disabled" <% } %>>
                                        Ask
                                    </button>
                                <% } %>
                                <div class="visualclear"></div>
                            </div>
                            <% if (current_question && current_question.attributes.id === q.id) { %>
                                <div class="accordion-body" style="display: block">
                            <% } else { %>
                                <div class="accordion-body" style="display: none">
                            <% } %>

                                <div class="accordion-inner">
                                    <%= q.answer %>
                                    <button class="btn done">Close</button>
                                </div>
                            </div>
                            <div class="visualclear"></div>
                        </div>

                    <% }); %>
                </div>
            <% } %>
        </div>
        <div class="interview_notepad right">
            <h3 class="popover-title">Notepad</h3>
            <div class="popover-content">
                <textarea class="notepad scrollable"><%= notes %></textarea>
            </div>
        </div>
        <div class="visualclear"></div>
        <div><button class="btn cancel close_profile">Done</button></div>
        <div class="visualclear"></div>
    </div>
</script>

<script type="text/template" id="boardmember-template">
    <div class="question_container">
        <div class="q">Q</div>
        <% _.each(questions, function(q, index) { %>
            <div class="question_content" data-id="<%=q.id%>">
                <p><%= q.question %></p>
            </div>
        <% }); %>
    </div>
    <div class="visualclear"></div>
    <div class="answer_container">
        <div class="a">A</div>
        <div class="answer_content">
            <div>Answer the boardmember's question, then click Done to continue.</div>
            <textarea></textarea>
            <div class="popover-done"><a class="btn disabled" href="#" data-id="<%=id%>">Done</a></div>
        </div>
    </div>
    <b class="border-notch notch"></b>
    <b class="notch"></b>
</script>