<script src="/site_media/js/json2.js" type="text/javascript" ></script>
<script src="/site_media/js/underscore/underscore-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone/backbone-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone-tastypie.js" type="text/javascript" ></script>

<script src="/site_media/js/supportservices.js" type="text/javascript" ></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        Backbone.Tastypie.doGetOnEmptyPostResponse = false;
        var view = new SupportServicesView({
            el: 'div.support-services'
        });
    });
</script>

<script type="text/template" id="services-template">
    <% _.each(services, function(service) { %>
        <div><a href="#" data-id="<%=service.id%>"><%= service.title %></a></div>
        <div><%= service.phone %></div>

        <div class="description" style="display: none">
            <%= service.description %>
        </div>
        <br />
    <% }); %>
</script>
