<div class="infographic">
  <div class="chartnav">
    <img name="imagemap_shim" id="imagemap_shim" usemap="#imageMapArea" src="/site_media/img/infographic/shim.gif" />
    {% for item in block.infographicitem_set.all %}
    <div id="item_position_{{item.label}}" class="item_image_{{item.label}}"></div><!-- /.item_image_{{item.label}} -->
    {% endfor %}
  </div><!-- /.chartnav -->

  <div class="charttext">
    {% for item in block.infographicitem_set.all %}
    <div id="item_content_{{item.label}}" class="content_modal">
      {{item.content|safe}}
      <div class="closeoverlay">
      Close##
      </div>
    </div><!-- /#item_content_{{item.label}} -->
    {% endfor %}
  </div><!-- /.charttext -->


  <map name="imageMapArea" id="imageMapArea">
    {% for item in block.infographicitem_set.all %}
    <area shape="{{item.map_area_shape}}" coords="{{item.coordinates}}" href="{{item.label}}" data-id="{{item.id}}" data-class="item">
    {% endfor %}
  </map>

  <div class="content_overlay"></div><!-- /.overlay -->
</div><!-- /.infographic -->

<div class="progressbar_set">
  <div class="progress_title">
  Activity progress: 
  </div><!-- ./progress_title -->
  <div class="progressbar">
    <div class="progress">
      <div class="bar" style="width: 5%;"></div>
    </div>
  </div><!-- ./progress_title -->
</div><!-- ./progressbar -->

