<script type="text/javascript" language="javascript">
jQuery(document).ready(function() {

  var ItemContent;
  var ItemPosition;
  var ItemImage;


  function identifyItem(x) {
    ItemContent = jQuery(x).attr('href');
    ItemPosition = 'item_position_'+ItemContent;
    ItemImage = 'item_image_'+ItemContent;
  }
  

  jQuery('#imageMapArea area').hover(function() {
    identifyItem(this);
    jQuery('#'+ItemPosition).addClass(ItemImage+'-hover');
  },
  function() {
    identifyItem(this);
    if (jQuery('#'+ItemPosition).hasClass(ItemImage+'-hover')) {
      jQuery('#'+ItemPosition).removeClass(ItemImage+'-hover');
    }
  }).click(function() {
    identifyItem(this);
    var ItemContentModal = '#item_content_'+ItemContent;
    jQuery(ItemContentModal).fadeIn('fast');
    jQuery('#'+ItemPosition).addClass(ItemImage+'-visited');
    jQuery('.content_overlay').fadeIn('fast');
    return false;
  });


  jQuery('.closeoverlay').click(function(){
    jQuery('.content_modal').fadeOut('fast');
    jQuery('.content_overlay').fadeOut('fast');
  });

});
</script>
