{% extends "base.html" %}
{% block title %}Manage Infographic Items{% endblock %}
{% block bodyclass %}edit module-{{module.slug}}{% endblock %}
{% block projectbanner %}{% endblock %}
{% block primarynavtabs %}{% endblock %}
{% block mode-view %}{% endblock %}
{% block mode-edit %} class="active"{% endblock %}
{% block js %}
{{ block.super }}
    {% ifnotequal module.slug 'young-children' %}
        <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
    {% endifnotequal %}
{% endblock %}
{% block css %}
{{ block.super }}

    {% ifnotequal module.slug 'young-children' %}
        <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    {% endifnotequal %}
{% endblock %}


{% block content %}
<form action="" method="post">{% csrf_token %}
    <h2>Manage Infographic Items</h2>

 <p><a href="{{object.pageblock.section.get_edit_url}}" class="btn btn-sml btn-default">Edit “{{object.pageblock.section.label}}” page blocks</a> <a href="{{object.pageblock.section.get_absolute_url}}" class="btn btn-sml btn-default">View “{{object.pageblock.section.label}}” page</a>
 </p>
   
    <div><a href="/_infographic/{{object.id}}/add/item/" class="btn btn-sml btn-default"><i class="icon-plus"></i> Add infographic item</a></div>
    <br />


{% if object.infographicitem_set.all %}
<table>
    <tr>
      <th>Item name</th>
      <th>Item ID</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    
      {% for item in object.infographicitem_set.all %}
        <tr>
            <td>{{item.label_name}}</td>
            <td>{{item.label}}</td>
            <td><a href="/_infographic/edit/item/{{item.id}}/" class="btn btn-sml btn-success">Edit</a></td>
            <td><a href="/_infographic/delete/item/{{item.id}}/"  class="btn btn-sml btn-danger">Delete</a></td>
            
        </tr>
    {% endfor %}

</table>
{% else %}
<p>There are no items in your infographic.</p>
{% endif %}
</form>

{% endblock %}
