<div class="infographic">
  <div class="chart-items">
    <img name="imagemap-shim" id="imagemap-shim" usemap="#imageMapArea" src="/site_media/img/infographic/shim.gif" />
    {% for item in block.infographicitem_set.all %}
    <div id="item-position-{{item.label}}" class="item-image-{{item.label}}"></div><!-- /.item-image-{{item.label}} -->
    {% endfor %}
  </div><!-- /.chart-items -->

  <div class="chart-content-modal">
    {% for item in block.infographicitem_set.all %}
    <div id="item-content-{{item.label}}" class="content-modal">
      <div class="content-modal-header">
        {{item.label_name}}
        <div class="closeoverlay icon-close"></div>
      </div><!-- ./content-modal-header -->
      <div class="content-modal-body">
        {{item.content|safe}}
      </div><!-- ./content-modal-body -->
      <div class="content-modal-footer clearfix">
        <div class="closeoverlay btn btn-info pull-right">Close</div>
      </div><!-- ./content-modal-footer -->
    </div><!-- /#item-content-{{item.label}} -->
    {% endfor %}
  </div><!-- /.chart-content-modal -->

  <map name="imageMapArea" id="imageMapArea">
    {% for item in block.infographicitem_set.all %}
    <area shape="{{item.map_area_shape}}" coords="{{item.coordinates}}" href="{{item.label}}" data-id="{{item.id}}" data-class="item">
    {% endfor %}
  </map>

  <div class="content-overlay"></div><!-- /.overlay -->
  <div class="progressbar-set-initial">
    You’ve not started this activity yet.<br />Click on any of the items to begin.
  </div><!-- ./progressbar-set-initial -->
  <div class="progressbar-set-done">
    You’ve completed this activity.
  </div><!-- ./progressbar-set-done -->
</div><!-- /.infographic -->

<div class="progressbar-set">
  <div class="progress-title">
  Activity progress: 
  </div><!-- ./progress-title -->
  <div class="progressbar">
    <div class="progress">
      <div class="bar" style="width: 5%;"></div>
    </div>
  </div><!-- ./progress-title -->
</div><!-- ./progressbar-set -->

