<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 

<style type="text/css">
.outermost_pageblock_on_current_careermap_page {
    background-color: #FFF;
    width: 912px;
    margin-left: -222px;
    font-size: .85em;
    min-height: 600px;
    position: absolute;
    top: 10px;

}

#hide-show-label {
    display: block;
    float: right;
    background-color: #ccc;
    border: 1px solid #333;
    margin: 0 15px;
    padding: 5px;

}

.careermapblock {

    background-color: transparent;
}

.careermaptabs {

    border: 1px solid #666;
    background-color: #ccc;
    margin-top: 26px;

}
.careermaptabs table
{

    margin: 5px 0;
    border: none;

}

.careermaptabs table td {

    border: none;

}

h5 {
    font-size: 95%;
}

.careermap-base {
    position: relative;
}

.careermap-base img{
    width: 600px;
    height: 337px;
}

.careermap-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 337px;
}

/*  this used to be in the javascript. moving to here. */
.careermap-layer.show_and_hideable{
    /*display:none; */ /* start these off hidden */
}



.layer-box {
    width: 15px; 
    height: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 5px;
}


.question_layer, .question_basemap, #layer_row, #basemap_row, .stat_id_container, #question_json, #table_json  {
    display:none;
}

.description {
    width: 200px;
}

.table_container {
    width:100%;
    overflow:auto;
}

.table_container tr td, .table_container tr th {
    white-space:nowrap;
}

.layer-controls tr td { 
    color: #999999;
    cursor:pointer;
}

.layer-controls tr.selected_layer td {
    color: #000000;
    cursor: pointer;
}

tr.selected_layer div.layer-box {
    /*background-image: url("http://kang.ccnmtl.columbia.edu:7894/site_media/css/../img/uncharted_logo.png"); */
    background: url("../../../site_media/img/tick.png") no-repeat scroll left 0px transparent;
    background-repeat: no-repeat;
    display: block;  /* may not need this, but I've found I do */

}


.did_you_know_title {
   height: 150px;  /* do we still need this? */
   font-size:80%;
}

#left_hand_td, #right_hand_td {
    vertical-align:top;
}

#left_hand_td{
    width: 312px;
    background-color: #ccc;
}

#right_hand_td {
    width: 600px;
    background-color: #fff;
}

.did_you_know_container {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    display: block;
    margin: 0;
    padding: 10px;
}

#stats_table {
    width: 600px;
    margin: 5px 0 0 0;
    font-size: 85%;
    overflow: auto;

}
#stats_table th{
    width: 100px;


}



</style>
