<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 

<style type="text/css">
.outermost_pageblock_on_current_careermap_page {

    width: 912px;
    margin-left: -222px;
    font-size: .85em;
    position: absolute;
    top: 10px;

}

#hide-show-label {
    display: block;
    float: right;
    background-color: #F46B08;
    color: #fff;
    border: 1px solid #333;
    margin: 0 15px;
    padding: 5px;

}

#hide-show-label a{
    color: #fff;

}

#hide-show-label.map-on {
    border-bottom: 1px solid #ccc;
    background-color: #ccc;

}

#hide-show-label.map-on a{
    color: #F46B08;

}

#hide-show-label {
    display: block;
    float: right;
    background-color: #ccc;
    border: 1px solid #333;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
    padding: 5px;
    color: #333;

}

#hide-show-label.map-off {
    background-color: #F46B08;
    border-bottom: 1px solid #333;
    color: #fff;
}


.careermapblock {

    background-color: transparent;
}

.careermaptabs {

    border: 1px solid #666;
    background-color: #ccc;
    margin-top: 26px;

}
.careermaptabs table
{

    margin: 5px;
    border: none;

}

.careermaptabs table td {

    border: none;

}

h5 {
    font-size: 95%;
}



.careermap-base {
    position: relative;
    background-image: url('/site_media/img/geography_background.png');
    width:600px;
    height: 337px;
}

.careermap-base img{
    width: 600px;
    height: 337px;

}

.careermap-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 337px;
        z-index:  5;
}

.careermap-layer.permanent {
    z-index:  0;
}

.careermap-layer.show_and_hideable {
    display:none;
}


.layer-box {
    width: 13px; 
    height: 13px;
    background-color: #fff;
    border: 1px solid #666;
    margin-right: 5px;
    cursor: pointer;
}


.question_layer, .question_basemap, #layer_row, #basemap_row, .stat_id_container, #question_json, #table_json  {
    display:none;
}

.description {
    width: 200px;
}

/*inserting a new table: */
table#county_and_stats {
    padding : 0;
    margin : 5px 0;
    width: 600px;
    /* border: 1px solid #e00; */

}

div#legend_container{
    height: 0px;
    position:relative;
    width: 600px;
}

div#legend_container.showing_legend{
    height: 185px;
    background-image:url('/site_media/img/legend.png');
    background-repeat:   no-repeat;
    background-position: 0 18px;    

}

a.legend_show_hide_button {
    height: 15px;
    width: 100px;
    display: block;
    padding: 0px;
    margin: 2px;
    color: #555;
    background-color: #ccc;
    border: 1px solid #999;
    cursor: pointer;
    font-size: 85%;
    text-align: center;
}

table#county_and_stats td{
    padding : 0;
    margin : 0;
    vertical-align: top;

}

table#county_and_stats td table#county_table {
    width: 120px;
    margin: 0;
}

table#county_and_stats td #county_table th {
    margin: 0;
    border: 1px solid #999;
    text-align: right;
    height: 20px;
    padding: 2px 5px;
    background-color: #ccc;
}

table#county_and_stats td #county_table th.blank {

    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #fff;
}

table#county_and_stats td table#stats_table {
    min-width: 480px;
    margin: 0;

}

table#county_and_stats td #stats_table td {
    margin: 0;
    border: 1px solid #999;
    height: 20px;
    padding: 2px 5px;
}

table#county_and_stats td #stats_table th {
    width: 100px;
    height: 20px;
    padding: 2px 5px;
}





.table_container {
    width:480px;
    overflow:auto;
}

.table_container tr td, .table_container tr th {
    white-space:nowrap;
}

.layer-controls tr td a{
    color: #999999;

}

.layer-controls tr.selected_layer td a {
    color: #000000;
}

tr.selected_layer div.layer-box {
    background: url("/site_media/img/tick.png") no-repeat scroll left 0px transparent;
    background-repeat: no-repeat;
    display: block;  /* may not need this, but I've found I do */

}



#left_hand_td, #right_hand_td {
    vertical-align:top;
}

#left_hand_td{
    width: 312px;
    background-color: #ccc;
}

#right_hand_td {
    width: 600px;
    max-width: 600px;
    background-color: #fff;
}

.did_you_know_container {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    display: block;
    margin: 10px 0 0 0;
    padding: 10px;
}




</style>
