<script type="text/javascript" language="javascript">
jQuery(document).ready(function() {

  var itemsTotal = jQuery(".phonecall-item").length;
  var itemsClicked = jQuery(".visited").length;


  function maybeNextUnlocked() {
    if (itemsClicked >= itemsTotal) {
      jQuery("#next").removeClass("disabled");
    }
  }
  
    function toggleAccordion(event) {
            var prev = jQuery(event.currentTarget).prev();
            jQuery(prev).find('i').toggleClass('icon-chevron-right icon-chevron-down');
        }


  function saveItem(evt) {
    var elt = jQuery('.collapse.in')
    var itemId = elt.data('id')
    jQuery.ajax({
        type: "POST",
        url: '/_specialneeds/save/item/',
        data: {'item_id':itemId},
        success: function(response) {
          elt.prev().addClass('visited');
          itemsClicked++;
          maybeNextUnlocked();
        },                                                                                                                              
        error: function(xhr, ajaxOptions, thrownError) {
            alert('An error has occurred. Please try again.');
        }
    });
  }

// initialize
  jQuery("#next").addClass("disabled");
  
  maybeNextUnlocked();
  
  jQuery('#phonecallset').on('shown', function (evt) {
    saveItem(evt);
  });

  jQuery('.collapse').on('shown', function() {
    jQuery(this).prev().find('i').toggleClass('icon-chevron-right icon-chevron-down');
  });

  jQuery('.collapse').on('hide', function() {
    jQuery(this).prev().find('i').toggleClass('icon-chevron-right icon-chevron-down');
  });

});
</script>
