{% load phonecallstate %}

<div class="accordion phonecall" id="phonecallset">
{% for item in block.questions.all %}
{% get_user_state item as visited %}
  <div class="accordion-group">
    <div class="accordion-heading {% if visited %}visited{% endif %}"><div class="chevron-toggle pull-right"><i class="icon-chevron-right"></i></div>
      <a class="accordion-toggle phonecall-item " data-toggle="collapse" data-parent="#phonecallset" href="#answer{{item.id}}">
        {{item.question}}
      </a>
    </div>
    <div id="answer{{item.id}}" data-id="{{item.id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{item.answer}}
      </div>
    </div>
  </div>
{% endfor %}
</div>
