{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans "Django Admin" %}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="/site_media/css/admin.css" type="text/css" media="all" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>

{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans "Django Admin" %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}