{% extends "admin/base_site.html" %}
{% load render %}
{% comment %}######## THIS IS PASS TEMPLATE ########{% endcomment %}

{% block js %}
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}

    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">

    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block title %}{{module.label}}&mdash;{{section.label}}{% endblock %}

{% block content %}
    {% for block in section.pageblock_set.all %}
        <div class="pageblock" id="pageblock-{{block.id}}">
            {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
            {% render block %}
        </div>
    {% endfor %}
{% endblock %}