{% extends "base.html" %}
{% comment %}######## THIS IS PASS TEMPLATE ########{% endcomment %}
{% block title %}{{module.label}}&mdash;{{section.label}} [EDIT]{% endblock %}
{% block widthtype %}fixed editmode no_bootstrap{% endblock %}
{% block css %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link href="/site_media/css/edit_page.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var saveOrderOfChildren = function() {
            var url = "{% url reorder-section-children section.id %}?";
            var worktodo = 0;
            jQuery("#children-order-list li").each(function(index,element) {
               worktodo = 1;
               var id = jQuery(element).attr('id').split("-")[1];
               url += "section_id_" + index + "=" + id + ";";
            });
            if (worktodo == 1) {
                var req = new XMLHttpRequest();
                req.open("POST",url,true);
                req.send(null);
            }
        };

        var saveOrderOfPageBlocks = function() {
            var url = "{% url reorder-pageblocks section.id %}?";
            var worktodo = 0;
            jQuery("#edit-blocks-tab div").each(function(index,element) {
              worktodo = 1;
              var id = jQuery(element).attr('id').split("-")[1];
              url += "pageblock_id_" + index + "=" + id + ";";
            });
            if (worktodo == 1) {
                /* only bother submitting if there are elements to be sorted */
                var req = new XMLHttpRequest();
                req.open("POST",url,true);
                req.send(null);
            }

        }

        jQuery(document).ready(function () {
            jQuery("#children-order-list").sortable({
                containment : 'parent'
                ,axis : 'y'
                ,tolerance: 'pointer'
                ,activeClass: 'dragging'
                ,handle: '.draghandle'
                ,stop: function (event,ui) { saveOrderOfChildren();}
            });
            jQuery("#children-order-list").disableSelection();

            jQuery("#edit-blocks-tab").sortable({
                items : 'div'
                ,axis: 'y'
                ,containment: 'parent'
                ,handle: '.draghandle'
                ,activeClass: 'dragging'
                ,tolerance: 'pointer'
                ,stop: function (event,ui) { saveOrderOfPageBlocks();}
            });
            jQuery("#tabber").tabs();
            jQuery("#edit-blocks-tab").disableSelection();
        });
    </script>
{% endblock %}

{% block projectbanner %}{% endblock %}

{% block primarynav %}
    {{ block.super }}

    <!-- ###### Secondary Navigation ###### -->
    <div id="secondary_navigation" style="display: none">
        <div class="block">
            {% if module.get_children %}
                {% with "/edit" as menu_base %}
                    {% include "main/menu.html" %}
                {% endwith %}
            {% endif %}
        </div><!-- div id="block" -->
    </div><!-- div id="secondary_navigation" -->        
{% endblock %}


{% block sidenav %}
{% endblock %}

{% block mode-view %}{% endblock %}
{% block mode-edit %} class="active"{% endblock %}>

{% block content %}
    <table style="width: 100%; border: 0">
        <tr style="width: 100%; border: 0">
            <td style="width: 33%; border: 0;"></td>        
            <td style="width: 33%; text-align: center; border: 0;">
                <a href="/edit{{section.get_module.get_absolute_url}}" id="previous">^ {{section.get_module.label}} ^</a>
                <h2 class="edit-section-label">{{ section.parent }}</h2>
            </td>        
            <td style="width: 33%; text-align: right; border: 0; vertical-align: top" />
        </tr>        
        <tr style="width: 100%; border: 0">
            <td style="width: 33%; border: 0;"></td>        
            <td style="width: 33%; text-align: center; border: 0;">
                <h2 class="edit-section-label">{{ section.label }}</h2>
            </td>        
            <td style="width: 33%; text-align: right; border: 0; vertical-align: top" />
        </tr>
    </table>    
    
    <table style="width: 100%; border: 0">
        <tr style="width: 100%; border: 0">
            <td style="width: 33%; border: 0;">
                {% if section.get_previous %}
                    <a href="/edit{{section.get_previous.get_absolute_url}}" id="previous">« {{section.get_previous.label}}</a>
                {% else %}
                    {{section.get_module.label}}
                {% endif %}
            </td>
        
            <td style="width: 33%; text-align: center; border: 0;"/>
        
            <td style="width: 33%; text-align: right; border: 0;">
                {% if section.get_next %}
                    <a href="/edit{{section.get_next.get_absolute_url}}" id="next">{{section.get_next.label}} »</a>
                {% endif %}
            </td>
        </tr>
    </table>     
    <div id="tabber">
        <ul>
            {% if section.pageblock_set.count %}
                <li><a href="#edit-blocks-tab">Edit Blocks</a></li>
            {% endif %}
            {% ifnotequal section.label "Root" %}        
                <li><a href="#add-pageblock-tab">Add Pageblock</a></li>
            {% endifnotequal %}
            <li><a href="#children-tab">Child Sections</a></li>
            <li><a href="#edit-page-tab">Edit Section</a></li>
            <li><a href="#move-page-tab">Move Section</a></li>        
        </ul>

        {% if section.pageblock_set.count %}
            <div id="edit-blocks-tab"/>
                {% for block in section.pageblock_set.all %}
                    <div class="block-edit draggable" id="pageblock-{{block.id}}">
                        <table width="100%" class="block-edit-header">
                            <tr>
                                <td>
                                    <span title="drag to reorder pageblocks" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span>
                                    {{block.edit_label}}
                                </td>
                                <td align="right">
                                    <form action="{% url delete-pageblock block.id %}" method="post">
                                    <input type="submit" value="delete block {{block.ordinality}}" />
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if block.block.exportable %}
                                    <a href="{% url export-pageblock-json block.id %}">export json</a>
                                    {% endif %}
                                </td>
                                <td>
                                {% if block.block.importable %}
                                <a href="{% url import-pageblock-json block.id %}">import json</a>
                                {% endif %}
                                </td>
                            </tr>
                        </table>
                        <form action="{% url edit-pageblock block.id %}" method="post"
                            {% if block.edit_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                            <table width="100%">
                                {{ block.default_edit_form.as_table }}
                                {% with block.edit_form as ef %}
                                    {{ ef.as_table }}
                                    {% if ef.alt_text %}
                                        <tr><td colspan="2">
                                            {{ ef.alt_text|safe }}
                                        </td></tr>
                                    {% endif %}
                                {% endwith %}
                            </table>
                            <input type="submit" value="save" />
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% ifnotequal section.label "Root" %}
        <div id="add-pageblock-tab">
            {% for blocktype in section.available_pageblocks %}
                {% if blocktype %}
                    <form action="{% url add-pageblock section.id %}"
                        {% if blocktype.add_form.is_multipart %}
                            enctype="multipart/form-data"
                        {% endif %}
                        method="post">
                        
                        <fieldset>
                            <legend>add {{ blocktype.display_name }}</legend>
                            <input type="hidden" name="blocktype" value="{{blocktype.display_name}}"/>
                            <table width="100%">
                                {{section.add_pageblock_form.as_table}}
                                {{blocktype.add_form.as_table}}
                            </table>
                            <input type="submit" value="add {{blocktype.display_name}}" />
                        </fieldset>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
        {% endifnotequal %}
        
        
        <div id="children-tab">
            {% if section.get_children|length > 0 %}
            <h3>Existing Children</h3>
            <ul id="children-order-list">
                {% for child in section.get_children %}
                <li class="draggable children" id="child-{{child.id}}">
                    <span title="drag to reorder pageblocks" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span>[<a href="/pagetree/delete_section/{{child.id}}/">delete</a>]
                    <a href="/edit{{child.get_absolute_url}}">{{child.label}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
    
            <h3>Create Child</h3>
            <form action="{% url add-child-section section.id %}" method="post">        
                <fieldset>                
                    <p>
                    {{ section.add_child_section_form.as_p }}
                    </p>
                    <input type="submit" value="create child section" />
                </fieldset>
            </form>
        </div>        
        
        <div id="edit-page-tab">
            <form action="{% url delete-section section.id %}" method="post">
                <input type="submit" value="delete this page" />
            </form>
        
            <form action="{% url edit-section section.id %}" method="post">
                <fieldset><legend>Edit Page</legend>
                    <table>
                        {{ section.edit_form.as_table }}
                    </table>
                    <input type="submit" value="save" />
                </fieldset>
            </form>
        </div>

        <div id="move-page-tab">
            <form action="{% url move-section section.id %}" method="post">{% csrf_token %}        
                <fieldset>
                    <legend>Move "{{section.label}}" Section To...</legend>
                    <p>
                        {{ section.move_form.as_p }}
                        <input value="Move" class="default" name="_move" type="submit">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

{% block content-nav %}

    {% if section.get_previous %}
        <a href="/edit{{section.get_previous.get_absolute_url}}" id="previous">« {{section.get_previous.label}}</a>
    {% endif %}
    
    {% if section.get_next %}
        <a href="/edit{{section.get_next.get_absolute_url}}" id="next">{{section.get_next.label}} »</a>
    {% endif %}

{% endblock %}
