.career_location {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 500px;
}

.career_location a:visited {
    color: #333;
}

.career_location_overlay {
    position: absolute;
    background: #AAA;
    opacity: .70;
    filter: Alpha(Opacity=70);
    width: 100%;
    height: 100%;
    z-index: 1002;
    left: -1px;
    top: -3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.career_location_map {
    position: relative;
    height: 400px;
    margin: 0;
    text-align: center;
}

.career_location_base_layer,
.career_location_map_layer {
    position: absolute;
}

.career_location_map_layer {
    opacity: .70;
    filter: Alpha(Opacity=70);
    background: transparent;

}

div.toolbar h2.left {
    margin: 0px;
}

div.toolbar .right {
    margin: 5px;
}

div.popover-close {
    text-align: right;
}

div.map_layer_content {
    position: absolute;
    z-index: 1003;
    width: 300px;
}

div.notepad_content {
    position: absolute;
    z-index: 1003;
    right: 213px;
}

div.notepad_content textarea {
    width: 300px;
    height: 300px;
    resize: none;
}

div.help_content {
    position: absolute;
    z-index: 1003;
    width: 830px;
}

div.map_layer_content {
    right: 94px;
}

div.help_content {
    right: 15px;
}

div.notepad_content .btn.right,
div.map_layer_content .btn.right,
div.help_content .btn.right {
    margin: -33px 0px;
}

.actor {
    position: absolute;
    z-index: 1000;
}

div.profile {
    position: absolute;
    z-index: 1001;
    background-color: white;
    border: 1px solid #708090;
    width: 815px;
    min-height: 430px;
    padding: 10px;
    background-color: #eaeaea;
}

.btn.interview, .btn.cancel {
    margin-right: 10px;
    margin-top: 10px;
}

.btn.ask {
    float: right;
}

#x {
    margin: -7px;
    float: right;
    padding: 2px;
}

div.actor_state {
    border: 1px solid black;
    width: 38px;
    height: 38px;
    margin: 5px 5px 5px 5px;
}

div.actor_state.empty {
    text-align: center;
    vertical-align: middle;
}

div.actor_state.inprogress img {
    opacity:0.50;
    -moz-opacity:0.50;
    filter:alpha(opacity=50);
}

div.complete {
    border: 1px solid black;
}

div.interview_state h5 {
    text-transform: none;
}

img.actor {
    border: 3px solid black;
}

img.actor:hover {
    border: 3px solid red;
}


div.accordion {
    float: left;
    width: 40em;
}

div.accordion-group {
    margin-bottom: 6px;
    vertical-align: middle;
    font-size: .9em;
}

div.accordion-group.selected {
    border: 2px black solid;
}

div.accordion-group {
    background-color: #F9F9F9;
}

div.accordion-group:hover {
    background-color: #f5f5f5;
}

div.accordion-heading {
    min-height: 2em;
    padding: 10px;

}

div.accordion-heading div.question {
    float: left;
    width: 60%;
}

div.accordion-heading .btn.ask {
    float: right;
    width: 35%;
}

div.accordion-body {
    clear: both;
}

div.accordion-body button.done {
    float: right;
    width: 25%;
    margin-bottom: 5px;
}

div.interview.left {
    width: 54%;
    margin: 5px 10px 5px 5px;
}

div.interview_notepad.right {
    margin: 5px 5px 5px 0px;
    width: 42%;
}

div.interview_notepad.right textarea {
    height: 300px;
    width: 94%;
}

