{% extends 'base.html' %}

{% block js %}

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">
var saveOrder = function() {
    var url = "{% url reorder-careermap-county_stat_types cmap.id %}?";
    var worktodo = 0;
    jQuery("#county_stat_types li").each(function(index,element) {
       worktodo = 1;
       var id = jQuery(element).attr('id').split("-")[1];
       url += "county_stat_type_" + index + "=" + id + ";";
    });
    if (worktodo == 1) {
        var req = new XMLHttpRequest();
        req.open("POST",url,true);
        req.send(null);
    }
};

</script>

<style type="text/css">
        .draghandle {float: left;}
        #county_stat_types {list-style-type: none; margin: 0; padding: 0;}
        #county_stat_types li { margin: 0 3px 3px 3px; padding: 0.4em;
        padding-left: 1.5em; 
          background-color: #ddd;
        }
        #county_stat_types li span { position: absolute; margin-left: -1.3em; }
        .dragging {border: #f60 solid 1px;}
	.county_stat_type-box { width: 20px; height: 20px; float: left;
        margin-right: 5px;}
        </style>
{% endblock %}

{% block content %}
<h2><a href="/edit{{section.get_absolute_url}}">{{section.label}}</a>: {{cmap.pageblock.label}}</h2>
<ul id="county_stat_types" class="dragparent">
{% for county_stat_type in cmap.countystattype_set.all %}
    <li class="draggable" id="county_stat_type-{{county_stat_type.id}}">
    <span title="drag to reorder pageblocks" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span>[<a href="{% url delete-careermap-county_stat_type county_stat_type.id %}">delete</a>] 
     Column
    <a href="{% url edit-careermap-county_stat_type county_stat_type.id %}">{{county_stat_type.name|truncatewords:5}}</a>
    shown on basemaps: {{county_stat_type.basemap_set.all}} and layers: {{county_stat_type.layer_set.all}}
</li>
{% endfor %}
</ul>
<div>
    <strong>Note:</strong> To associate a column of stats with a basemap or a layer, so that it shows up in the table underneath the map, you need to edit the basemap or layer and make sure that stat column is selected.
</div>

<form action="{% url edit-careermap-add-county_stat_type cmap.id %}"
      method="post" enctype="multipart/form-data">
<h2>Add a column of per-county statistics:</h2>
<table width="100%">
{% csrf_token %}
{{ cmap.add_county_stat_type_form.as_table}}
</table>
<input type="submit" value="add county stat type" />
</form>

<script type="text/javascript">
jQuery(function() {
  jQuery("#county_stat_types").sortable({
    containment : 'parent'
    ,axis : 'y'
    ,tolerance: 'pointer'
    ,activeClass: 'dragging'
    ,handle: '.draghandle'
    ,stop: function (event,ui) { saveOrder();}
  });
  jQuery("#county_stat_types").disableSelection();
});
</script>

{% endblock %}

{% block sidenav %}
{% with "/edit" as menu_base %}
{% include "main/menu.html" %}
{% endwith %}
{% endblock %}
